@{
    var sessionData =
        (List< BillOrganizer.Models.ViewModels.BillViewModels >) Session["data"];
    int i = 1;
}
@if (sessionData != null)
{
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            @foreach (var bill in sessionData)
            {
        
                <tr>
                    <th>@i</th>
                    <th>@bill.Type</th>
                    <th>@bill.CreateDate.ToString("yyyy-MM-dd")</th>
                    <th>@bill.Money.ToString("#,###")</th>
                    <th>@bill.Remark</th>
                </tr>
               
            }
        </table>
    </div>
</div>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>#</th>
                    <th>類別</th>
                    <th>日期</th>
                    <th>金額</th>
                    <th>備註</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>支出</td>
                    <td>2016-01-01</td>
                    <td>300</td>
                    <td></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>支出</td>
                    <td>2016-01-02</td>
                    <td>1,600</td>
                    <td></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>支出</td>
                    <td>2016-01-03</td>
                    <td>800</td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
}